@import "~normalize.css";
@import "_variables";

@import "modules/week-summary.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* background: #fefefe; */
  background-color: #92bbd1;
  background-image: linear-gradient(163deg, #92bbd1 0%, #ffffff 100%);
}

/* section {
    background: #ffffff;
  } */

.secondary-heading {
  color: #1460aa;
}

.special-heading {
  color: #21a179;
}

a {
  color: #02e4d5;
}

.header {
  background: #fff;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-link {
  color: #04ac26;
}

.input:focus {
  /* border: 2px solid yellow; */
  background: yellow;
}

/* .header {
      background: #d5d5d5;
  } */

.navigation {
  /* background: #478a05;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center; */
  padding: 16px;
  display: none;
}

.navigation--open {
  display: block;
}

.navigation__link {
  /* color: #fff; */
  color: #92140c;
  /* display: inline-block; */
  display: block;
  /* margin-right: 20px; */
  margin: 0 0 16px;
}

.navigation__link:hover {
  color: #1460aa;
}

.navigation__link:focus {
  border: 3px solid yellow;
}

.navigation__link:visited {
  color: #ccc;
}

.navigation__link--homepage {
  /* background: yellow; */
  color: #000;
}

// .week-summary:first-child {
//   background: yellow;
// }

// .week-summary:last-child {
//   background: blue;
// }

// .week-summary:hover {
//   background: hotpink;
// }

// .week-summary:not(.week-summary--special) {
//   background: hotpink;
// }

.main {
  max-width: 1000px;
  /* margin: 0 auto; */
  margin: 60px auto 0;
  &__heading {
    color: #92140c;
  }
}

.about {
  &__heading {
    color: #1460aa;
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 16px;
      background: #92140c;
    }
  }
  &__link {
    // color: #92140c;
    color: #0c9092;
  }
  &__picture {
    display: block;
    max-width: 100%;
  }
}

/* .notes {
  } */

.notes__heading {
  color: #1460aa;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__link {
  color: #1460aa;
}

.list {
  list-style: square;
}

.table {
  width: 100%;
}

.klasa-z-js {
  background: yellow;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
  }

  .navigation {
    /* background: #478a05; */
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
  }
}
